.w3-container-logo{
  height: 50px;
  background-color: rgb(190, 149, 14);
}
.w3-container-newsletter{
  background-color: rgb(190, 149, 14);
}

.w3-top{
  background-color: rgb(190, 149, 14);
}

.w3-large{
  padding: 0 8px;
}

